<% provide(:title, "ICS 624 Tourism Routes") %>

<div id="map-panel" class="jumbotron row">
  <div class="col-sm-9" id="map">
      
  </div>
  <div id="info-panel" class="col-sm-3 well">
    
  </div>
</div>
