<div id="point-name" class="map-data"><%= "#{@point.name}" %></div>
<div id="point-latitude" class="map-data"><%= "#{@point.latitude.chop}" %></div>
<div id="point-longitude" class="map-data"><%= "#{@point.longitude.chop}" %></div>