footer
{
  text-align: center;
}

#map
{
  height: 512px;
}

#search-fields
{
  margin-bottom: 64px;
  text-align: center;
}

#route-1-button
{
  background-color: #FF0000;
}

#route-2-button
{
  background-color: #FFA500;
}

#route-3-button
{
  background-color: #FFFF00;
}

#route-4-button
{
  background-color: #008000;
}

#route-5-button
{
  background-color: #0000FF;
  color: #FFFFFF;
}

#route-6-button
{
  background-color: #EE82EE;
}

#route-info
{
  height: 512px;
}

main
{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
}

.container
{
  height: 100%;
  width: 100%;
}